fastapi
uvicorn[standard]
websockets
python-dotenv
langchain
langchain-anthropic
langchain-community
langchain-groq
langchain-google-genai
langchain-openai
langgraph
langsmith
deepgram-sdk
elevenlabs
twilio
chromadb
sentence-transformers
pypdf
httpx
pydantic
pydantic-settings
streamlit
pandas
python-multipart
aiofiles
assemblyai
openai
groq
